
# Ignore node_modules since we download that based on package.json
node_modules

# Never check in any encryption keys in PEM files or things that look like JWTs
*jwt.txt*
*.key
*.pem

# Do not check my_keys.js into git since we auto-generate it.
my_keys.js
main.js
ojwt.js
